<div class="app">
  <h1>APP component START</h1>

  <h2 *ngIf="isNewUser">Welcome to Angular</h2>

  <h3 *ngIf="stringVariable == 'PASS'">qwerty</h3>

  <div *ngFor="let xyz of users">{{xyz}}</div>
  <ul>
    <li *ngFor="let stud of students">
      <div>
        <a>{{stud.firstName}} {{stud.lastName}}</a>
      </div>
      <a *ngIf="stud.result == 'PASS'" [ngStyle]="stud.result == 'PASS' ? {color: 'green'} : {}">Student passed</a>
      <a *ngIf="stud.result == 'FAIL'" [ngStyle]="stud.result == 'FAIL' ? {color: 'red'} : {}">Student Failed</a>
    </li>
  </ul>

  <h1 [ngClass]="isNewUser == true ? 'new-user' : 'old-user'">wsdfghj</h1>

  <div [ngSwitch]="todayDay">
    <h2 *ngSwitchCase=0>Today is Sunday</h2>
    <h2 *ngSwitchCase=1>Today is Monday</h2>
    <h2 *ngSwitchCase=2>Today is Tuesday</h2>
    <h2 *ngSwitchCase=3>Today is Wednesday</h2>
    <h2 *ngSwitchCase=4>Today is Thursday</h2>
    <h2 *ngSwitchCase=5>Today is Friday</h2>
    <h2 *ngSwitchCase=6>Today is Saturday</h2>
  </div>

  <h1 appTextcolor>From directive</h1>

  <app-contact-us></app-contact-us>

  {{parentVariableOne}}

  <h6>{{getFullName()}}</h6>

  <!-- interpolation -->
  <h4>{{title}}</h4>

  <p>{{numberOne}}</p>

  <h1>{{objectOne.name}}</h1>
  <h1>{{objectOne.message}}</h1>

  <h5>{{newVariable}}</h5>

  <!-- <button onclick="myFunction()">Click Me</button> -->
  <!-- onclick
onkeyup
onkeydown
onkeypress -->

<h3>
  {{variableFromChild}}
</h3>
  <button (click)="myFunction()">Click Me</button>

  <!-- <input type="text" onkeyup="mysecondFunction()"> -->
  <input type="text" (keyup)="mysecondFunction()">

  <!-- <h1>services component START</h1> -->
  
  <app-services (clickEvent)="dataFromChild($event)"></app-services>
  <!-- <h1>services component END</h1> -->

  <app-about-us [dataFromParent]="parentVariableOne"></app-about-us>


  <!-- typescript => extended version of Javascipt -->

  <!-- browsers understand js
angular run on ts

angular-compiler will convert all .ts files to .js files
which will tell browser to run js files as browser doesn't know the .ts -->


  <!-- stylesheet format
.css
.scss
.sass
.less -->


  <h1>APP component END</h1>
</div>